@font-face{ 
    src: url("OpenSans-Bold.ttf"); 
    font-family: OpenSans-Bold; }

@font-face{ 
    src: url("OpenSans-Regular.ttf"); 
    font-family: OpenSans-Regular; }

body { 
    background-image: url("img/faded-office.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #020202;
    text-align: left;
    margin: 15px 0px 0px 20px; 
    width: 40%;
    margin: 30px 0px 0px 50px;
}


#title {
    font-family: "OpenSans-Bold"; 
    font-weight: extrabold;
    font-size: 20px;
    }

#description {
    font-family: "OpenSans-Regular"; 
    font-weight: lighter;
   }

.btn {
    color: white;
    border: 0px;
    background: #0ea5e9;
    padding: 12px 22px; 
    font-size: 18px; 
    font-family: inherit;
    font-weight: bolder;
    
    }
    
.underline { 
    color:#020202; 
    border-bottom: 5px solid #0ea5e9; 
}
